In [1]:
import numpy as np 
import pandas as pd

from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

from flask import Flask, render_template, redirect, jsonify, json, request

# NOTE: Add to criteria for Heroku Deployment
import pickle

In [5]:
engine = create_engine("sqlite:///birthdata.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save reference to the tables
County = Base.classes.county
National = Base.classes.national
Outcomes = Base.classes.outcomes

County2015 = Base.classes.clinic2015_county
County2010 = Base.classes.clinic2010_county

State2015 = Base.classes.clinic2015_state
State2010 = Base.classes.clinic2010_state

Countypop = Base.classes.county_pop
CountySVI = Base.classes.county_svi

In [6]:
session = Session(engine)

In [7]:
# Query to return overall US data and state-specifc by year, filter to return 15-19 year data 
resultsUS = session.query(National.year, National.us_rate).filter(National.age_group == "15-19 years").order_by(National.year.asc()).distinct()
resultsState = session.query(National.state, National.year, National.state_rate).filter(National.age_group == "15-19 years").order_by(National.year.asc()).all()
    # Use of distinct: https://stackoverflow.com/questions/48102501/remove-duplicates-from-sqlalchemy-query-using-set

    # Store separate lists of dictionaries
USData = []
for r in resultsUS: 
    USData.append({"rate": r[1], "year": r[0]})
stateData = []
for r in resultsState:
    stateData.append({"rate": r[2], "state": r[0], "year": r[1]})

In [96]:
#stateData

In [113]:
# Query for US birth rate and year, filtering for 15-17 and 18-19 year data 
resultsBirthRate1517 = session.query(National.year, National.state_rate, National.state).filter(National.age_group == "15-17 years").order_by(National.year.asc()).distinct()
resultsBirthRate1819 = session.query(National.year, National.state_rate, National.state).filter(National.age_group == "18-19 years").order_by(National.year.asc()).distinct()
resultsUSBirthRate1517 = session.query(National.year, National.us_rate).filter(National.age_group == "15-17 years").order_by(National.year.asc()).distinct()
resultsUSBirthRate1819 = session.query(National.year, National.us_rate).filter(National.age_group == "18-19 years").order_by(National.year.asc()).distinct()
    # Use of distinct: https://stackoverflow.com/questions/48102501/remove-duplicates-from-sqlalchemy-query-using-set

    # Store separate lists of dictionaries
birthRate1517 = []
for r in resultsBirthRate1517: 
    birthRate1517.append({"rate": r[1], "year": r[0], "state":r[2]})
birthRate1819 = []
for r in resultsBirthRate1819: 
    birthRate1819.append({"rate": r[1], "year": r[0], "state":r[2]})
    
# Overal US dictionary 
USBirthRate1517  = []
for r in resultsUSBirthRate1517: 
    USBirthRate1517.append({"rate": r[1], "year": r[0]})
USBirthRate1819  = []
for r in resultsUSBirthRate1819: 
    USBirthRate1819.append({"rate": r[1], "year": r[0]})

In [114]:
birthRate1819

[{'rate': 84.8, 'year': 2003, 'state': 'Alabama'},
 {'rate': 78.5, 'year': 2003, 'state': 'Alaska'},
 {'rate': 102.5, 'year': 2003, 'state': 'Arizona'},
 {'rate': 103.2, 'year': 2003, 'state': 'Arkansas'},
 {'rate': 69.4, 'year': 2003, 'state': 'California'},
 {'rate': 70.7, 'year': 2003, 'state': 'Colorado'},
 {'rate': 43.1, 'year': 2003, 'state': 'Connecticut'},
 {'rate': 65.6, 'year': 2003, 'state': 'Delaware'},
 {'rate': 47.5, 'year': 2003, 'state': 'District of Columbia'},
 {'rate': 75.2, 'year': 2003, 'state': 'Florida'},
 {'rate': 90.4, 'year': 2003, 'state': 'Georgia'},
 {'rate': 70.7, 'year': 2003, 'state': 'Hawaii'},
 {'rate': 67.2, 'year': 2003, 'state': 'Idaho'},
 {'rate': 67.5, 'year': 2003, 'state': 'Illinois'},
 {'rate': 72.8, 'year': 2003, 'state': 'Indiana'},
 {'rate': 51.7, 'year': 2003, 'state': 'Iowa'},
 {'rate': 69.8, 'year': 2003, 'state': 'Kansas'},
 {'rate': 85.9, 'year': 2003, 'state': 'Kentucky'},
 {'rate': 90.9, 'year': 2003, 'state': 'Louisiana'},
 {'rate': 44.5, 'year': 2003, 'state': 'Maine'},
 {'rate': 59.0, 'year': 2003, 'state': 'Maryland'},
 {'rate': 34.2, 'year': 2003, 'state': 'Massachusetts'},
 {'rate': 58.9, 'year': 2003, 'state': 'Michigan'},
 {'rate': 45.9, 'year': 2003, 'state': 'Minnesota'},
 {'rate': 98.2, 'year': 2003, 'state': 'Mississippi'},
 {'rate': 74.9, 'year': 2003, 'state': 'Missouri'},
 {'rate': 62.8, 'year': 2003, 'state': 'Montana'},
 {'rate': 58.6, 'year': 2003, 'state': 'Nebraska'},
 {'rate': 98.9, 'year': 2003, 'state': 'Nevada'},
 {'rate': 34.3, 'year': 2003, 'state': 'New Hampshire'},
 {'rate': 48.7, 'year': 2003, 'state': 'New Jersey'},
 {'rate': 102.8, 'year': 2003, 'state': 'New Mexico'},
 {'rate': 46.8, 'year': 2003, 'state': 'New York'},
 {'rate': 76.6, 'year': 2003, 'state': 'North Carolina'},
 {'rate': 39.9, 'year': 2003, 'state': 'North Dakota'},
 {'rate': 68.8, 'year': 2003, 'state': 'Ohio'},
 {'rate': 94.5, 'year': 2003, 'state': 'Oklahoma'},
 {'rate': 59.9, 'year': 2003, 'state': 'Oregon'},
 {'rate': 48.5, 'year': 2003, 'state': 'Pennsylvania'},
 {'rate': 38.3, 'year': 2003, 'state': 'Rhode Island'},
 {'rate': 79.0, 'year': 2003, 'state': 'South Carolina'},
 {'rate': 58.5, 'year': 2003, 'state': 'South Dakota'},
 {'rate': 90.8, 'year': 2003, 'state': 'Tennessee'},
 {'rate': 101.8, 'year': 2003, 'state': 'Texas'},
 {'rate': 69.6, 'year': 2003, 'state': 'Total U.S.'},
 {'rate': 52.4, 'year': 2003, 'state': 'Utah'},
 {'rate': 32.2, 'year': 2003, 'state': 'Vermont'},
 {'rate': 60.7, 'year': 2003, 'state': 'Virginia'},
 {'rate': 57.7, 'year': 2003, 'state': 'Washington'},
 {'rate': 77.3, 'year': 2003, 'state': 'West Virginia'},
 {'rate': 52.9, 'year': 2003, 'state': 'Wisconsin'},
 {'rate': 74.8, 'year': 2003, 'state': 'Wyoming'},
 {'rate': 58.4, 'year': 2004, 'state': 'Oregon'},
 {'rate': 83.8, 'year': 2004, 'state': 'Alabama'},
 {'rate': 82.5, 'year': 2004, 'state': 'Alaska'},
 {'rate': 98.9, 'year': 2004, 'state': 'Arizona'},
 {'rate': 105.2, 'year': 2004, 'state': 'Arkansas'},
 {'rate': 68.5, 'year': 2004, 'state': 'California'},
 {'rate': 70.5, 'year': 2004, 'state': 'Colorado'},
 {'rate': 42.7, 'year': 2004, 'state': 'Connecticut'},
 {'rate': 60.4, 'year': 2004, 'state': 'Delaware'},
 {'rate': 47.2, 'year': 2004, 'state': 'District of Columbia'},
 {'rate': 74.3, 'year': 2004, 'state': 'Florida'},
 {'rate': 89.0, 'year': 2004, 'state': 'Georgia'},
 {'rate': 66.3, 'year': 2004, 'state': 'Hawaii'},
 {'rate': 67.4, 'year': 2004, 'state': 'Idaho'},
 {'rate': 67.1, 'year': 2004, 'state': 'Illinois'},
 {'rate': 73.5, 'year': 2004, 'state': 'Indiana'},
 {'rate': 50.9, 'year': 2004, 'state': 'Iowa'},
 {'rate': 68.3, 'year': 2004, 'state': 'Kansas'},
 {'rate': 85.6, 'year': 2004, 'state': 'Kentucky'},
 {'rate': 90.6, 'year': 2004, 'state': 'Louisiana'},
 {'rate': 45.8, 'year': 2004, 'state': 'Maine'},
 {'rate': 56.8, 'year': 2004, 'state': 'Maryland'},
 {'rate': 32.8, 'year': 2004, 'state': 'Massachusetts'},
 {'rate': 58.6, 'year': 2004, 'state': 'Michigan'},
 {'rate': 45.6, 'year': 2004, 'state': 'Minnesota'},
 {'rate': 98.0, 'year': 2004, 'state': 'Mississippi'},
 {'rate': 74.3, 'year': 2004, 'state': 'Missouri'},
 {'rate': 62.6, 'year': 2004, 'state': 'Montana'},
 {'rate': 58.7, 'year': 2004, 'state': 'Nebraska'},
 {'rate': 95.8, 'year': 2004, 'state': 'Nevada'},
 {'rate': 33.3, 'year': 2004, 'state': 'New Hampshire'},
 {'rate': 47.3, 'year': 2004, 'state': 'New Jersey'},
 {'rate': 96.6, 'year': 2004, 'state': 'New Mexico'},
 {'rate': 44.4, 'year': 2004, 'state': 'New York'},
 {'rate': 77.4, 'year': 2004, 'state': 'North Carolina'},
 {'rate': 41.0, 'year': 2004, 'state': 'North Dakota'},
 {'rate': 67.6, 'year': 2004, 'state': 'Ohio'},
 {'rate': 90.9, 'year': 2004, 'state': 'Oklahoma'},
 {'rate': 47.9, 'year': 2004, 'state': 'Pennsylvania'},
 {'rate': 42.4, 'year': 2004, 'state': 'Rhode Island'},
 {'rate': 79.6, 'year': 2004, 'state': 'South Carolina'},
 {'rate': 67.8, 'year': 2004, 'state': 'South Dakota'},
 {'rate': 88.8, 'year': 2004, 'state': 'Tennessee'},
 {'rate': 101.0, 'year': 2004, 'state': 'Texas'},
 {'rate': 68.7, 'year': 2004, 'state': 'Total U.S.'},
 {'rate': 52.1, 'year': 2004, 'state': 'Utah'},
 {'rate': 34.3, 'year': 2004, 'state': 'Vermont'},
 {'rate': 58.3, 'year': 2004, 'state': 'Virginia'},
 {'rate': 55.9, 'year': 2004, 'state': 'Washington'},
 {'rate': 73.2, 'year': 2004, 'state': 'West Virginia'},
 {'rate': 51.0, 'year': 2004, 'state': 'Wisconsin'},
 {'rate': 76.7, 'year': 2004, 'state': 'Wyoming'},
 {'rate': 81.3, 'year': 2005, 'state': 'Alabama'},
 {'rate': 80.3, 'year': 2005, 'state': 'Alaska'},
 {'rate': 96.9, 'year': 2005, 'state': 'Arizona'},
 {'rate': 104.1, 'year': 2005, 'state': 'Arkansas'},
 {'rate': 67.4, 'year': 2005, 'state': 'California'},
 {'rate': 69.3, 'year': 2005, 'state': 'Colorado'},
 {'rate': 41.5, 'year': 2005, 'state': 'Connecticut'},
 {'rate': 65.1, 'year': 2005, 'state': 'Delaware'},
 {'rate': 46.0, 'year': 2005, 'state': 'District of Columbia'},
 {'rate': 75.0, 'year': 2005, 'state': 'Florida'},
 {'rate': 90.9, 'year': 2005, 'state': 'Georgia'},
 {'rate': 66.5, 'year': 2005, 'state': 'Hawaii'},
 {'rate': 66.1, 'year': 2005, 'state': 'Idaho'},
 {'rate': 65.9, 'year': 2005, 'state': 'Illinois'},
 {'rate': 73.8, 'year': 2005, 'state': 'Indiana'},
 {'rate': 52.7, 'year': 2005, 'state': 'Iowa'},
 {'rate': 71.1, 'year': 2005, 'state': 'Kansas'},
 {'rate': 84.3, 'year': 2005, 'state': 'Kentucky'},
 {'rate': 80.1, 'year': 2005, 'state': 'Louisiana'},
 {'rate': 45.9, 'year': 2005, 'state': 'Maine'},
 {'rate': 57.5, 'year': 2005, 'state': 'Maryland'},
 {'rate': 32.4, 'year': 2005, 'state': 'Massachusetts'},
 {'rate': 56.5, 'year': 2005, 'state': 'Michigan'},
 {'rate': 46.3, 'year': 2005, 'state': 'Minnesota'},
 {'rate': 96.9, 'year': 2005, 'state': 'Mississippi'},
 {'rate': 73.5, 'year': 2005, 'state': 'Missouri'},
 {'rate': 62.3, 'year': 2005, 'state': 'Montana'},
 {'rate': 54.3, 'year': 2005, 'state': 'Nebraska'},
 {'rate': 93.0, 'year': 2005, 'state': 'Nevada'},
 {'rate': 34.3, 'year': 2005, 'state': 'New Hampshire'},
 {'rate': 46.4, 'year': 2005, 'state': 'New Jersey'},
 {'rate': 99.4, 'year': 2005, 'state': 'New Mexico'},
 {'rate': 44.6, 'year': 2005, 'state': 'New York'},
 {'rate': 78.5, 'year': 2005, 'state': 'North Carolina'},
 {'rate': 43.4, 'year': 2005, 'state': 'North Dakota'},
 {'rate': 68.3, 'year': 2005, 'state': 'Ohio'},
 {'rate': 91.0, 'year': 2005, 'state': 'Oklahoma'},
 {'rate': 58.8, 'year': 2005, 'state': 'Oregon'},
 {'rate': 48.2, 'year': 2005, 'state': 'Pennsylvania'},
 {'rate': 40.9, 'year': 2005, 'state': 'Rhode Island'},
 {'rate': 80.0, 'year': 2005, 'state': 'South Carolina'},
 {'rate': 62.6, 'year': 2005, 'state': 'South Dakota'},
 {'rate': 94.0, 'year': 2005, 'state': 'Tennessee'},
 {'rate': 100.3, 'year': 2005, 'state': 'Texas'},
 {'rate': 68.4, 'year': 2005, 'state': 'Total U.S.'},
 {'rate': 50.6, 'year': 2005, 'state': 'Utah'},
 {'rate': 29.9, 'year': 2005, 'state': 'Vermont'},
 {'rate': 59.0, 'year': 2005, 'state': 'Virginia'},
 {'rate': 56.6, 'year': 2005, 'state': 'Washington'},
 {'rate': 72.8, 'year': 2005, 'state': 'West Virginia'},
 {'rate': 51.7, 'year': 2005, 'state': 'Wisconsin'},
 {'rate': 77.2, 'year': 2005, 'state': 'Wyoming'},
 {'rate': 89.4, 'year': 2006, 'state': 'Alabama'},
 {'rate': 83.8, 'year': 2006, 'state': 'Alaska'},
 {'rate': 102.5, 'year': 2006, 'state': 'Arizona'},
 {'rate': 107.8, 'year': 2006, 'state': 'Arkansas'},
 {'rate': 70.5, 'year': 2006, 'state': 'California'},
 {'rate': 69.6, 'year': 2006, 'state': 'Colorado'},
 {'rate': 42.2, 'year': 2006, 'state': 'Connecticut'},
 {'rate': 66.5, 'year': 2006, 'state': 'Delaware'},
 {'rate': 53.3, 'year': 2006, 'state': 'District of Columbia'},
 {'rate': 75.8, 'year': 2006, 'state': 'Florida'},
 {'rate': 93.2, 'year': 2006, 'state': 'Georgia'},
 {'rate': 70.6, 'year': 2006, 'state': 'Hawaii'},
 {'rate': 68.6, 'year': 2006, 'state': 'Idaho'},
 {'rate': 68.2, 'year': 2006, 'state': 'Illinois'},
 {'rate': 73.7, 'year': 2006, 'state': 'Indiana'},
 {'rate': 56.2, 'year': 2006, 'state': 'Iowa'},
 {'rate': 73.3, 'year': 2006, 'state': 'Kansas'},
 {'rate': 93.3, 'year': 2006, 'state': 'Kentucky'},
 {'rate': 91.9, 'year': 2006, 'state': 'Louisiana'},
 {'rate': 48.4, 'year': 2006, 'state': 'Maine'},
 {'rate': 60.8, 'year': 2006, 'state': 'Maryland'},
 {'rate': 34.3, 'year': 2006, 'state': 'Massachusetts'},
 {'rate': 59.2, 'year': 2006, 'state': 'Michigan'},
 {'rate': 48.9, 'year': 2006, 'state': 'Minnesota'},
 {'rate': 109.4, 'year': 2006, 'state': 'Mississippi'},
 {'rate': 77.0, 'year': 2006, 'state': 'Missouri'},
 {'rate': 69.1, 'year': 2006, 'state': 'Montana'},
 {'rate': 56.7, 'year': 2006, 'state': 'Nebraska'},
 {'rate': 98.0, 'year': 2006, 'state': 'Nevada'},
 {'rate': 34.1, 'year': 2006, 'state': 'New Hampshire'},
 {'rate': 48.3, 'year': 2006, 'state': 'New Jersey'},
 {'rate': 105.8, 'year': 2006, 'state': 'New Mexico'},
 {'rate': 46.0, 'year': 2006, 'state': 'New York'},
 {'rate': 82.1, 'year': 2006, 'state': 'North Carolina'},
 {'rate': 43.4, 'year': 2006, 'state': 'North Dakota'},
 {'rate': 69.7, 'year': 2006, 'state': 'Ohio'},
 {'rate': 96.1, 'year': 2006, 'state': 'Oklahoma'},
 {'rate': 60.9, 'year': 2006, 'state': 'Oregon'},
 {'rate': 50.5, 'year': 2006, 'state': 'Pennsylvania'},
 {'rate': 38.6, 'year': 2006, 'state': 'Rhode Island'},
 {'rate': 86.0, 'year': 2006, 'state': 'South Carolina'},
 {'rate': 67.6, 'year': 2006, 'state': 'South Dakota'},
 {'rate': 91.3, 'year': 2006, 'state': 'Tennessee'},
 {'rate': 102.7, 'year': 2006, 'state': 'Texas'},
 {'rate': 71.2, 'year': 2006, 'state': 'Total U.S.'},
 {'rate': 56.5, 'year': 2006, 'state': 'Utah'},
 {'rate': 35.4, 'year': 2006, 'state': 'Vermont'},
 {'rate': 60.0, 'year': 2006, 'state': 'Virginia'},
 {'rate': 59.1, 'year': 2006, 'state': 'Washington'},
 {'rate': 77.8, 'year': 2006, 'state': 'West Virginia'},
 {'rate': 51.9, 'year': 2006, 'state': 'Wisconsin'},
 {'rate': 86.6, 'year': 2006, 'state': 'Wyoming'},
 {'rate': 87.8, 'year': 2007, 'state': 'Alabama'},
 {'rate': 90.0, 'year': 2007, 'state': 'Alaska'},
 {'rate': 100.0, 'year': 2007, 'state': 'Arizona'},
 {'rate': 105.1, 'year': 2007, 'state': 'Arkansas'},
 {'rate': 69.0, 'year': 2007, 'state': 'California'},
 {'rate': 70.6, 'year': 2007, 'state': 'Colorado'},
 {'rate': 41.6, 'year': 2007, 'state': 'Connecticut'},
 {'rate': 63.1, 'year': 2007, 'state': 'Delaware'},
 {'rate': 56.4, 'year': 2007, 'state': 'District of Columbia'},
 {'rate': 74.4, 'year': 2007, 'state': 'Florida'},
 {'rate': 93.0, 'year': 2007, 'state': 'Georgia'},
 {'rate': 72.9, 'year': 2007, 'state': 'Hawaii'},
 {'rate': 71.1, 'year': 2007, 'state': 'Idaho'},
 {'rate': 69.6, 'year': 2007, 'state': 'Illinois'},
 {'rate': 74.6, 'year': 2007, 'state': 'Indiana'},
 {'rate': 57.2, 'year': 2007, 'state': 'Iowa'},
 {'rate': 74.1, 'year': 2007, 'state': 'Kansas'},
 {'rate': 94.4, 'year': 2007, 'state': 'Kentucky'},
 {'rate': 94.0, 'year': 2007, 'state': 'Louisiana'},
 {'rate': 52.4, 'year': 2007, 'state': 'Maine'},
 {'rate': 60.8, 'year': 2007, 'state': 'Maryland'},
 {'rate': 34.3, 'year': 2007, 'state': 'Massachusetts'},
 {'rate': 59.5, 'year': 2007, 'state': 'Michigan'},
 {'rate': 50.2, 'year': 2007, 'state': 'Minnesota'},
 {'rate': 114.5, 'year': 2007, 'state': 'Mississippi'},
 {'rate': 78.8, 'year': 2007, 'state': 'Missouri'},
 {'rate': 64.6, 'year': 2007, 'state': 'Montana'},
 {'rate': 61.6, 'year': 2007, 'state': 'Nebraska'},
 {'rate': 93.5, 'year': 2007, 'state': 'Nevada'},
 {'rate': 36.8, 'year': 2007, 'state': 'New Hampshire'},
 {'rate': 47.8, 'year': 2007, 'state': 'New Jersey'},
 {'rate': 108.0, 'year': 2007, 'state': 'New Mexico'},
 {'rate': 45.5, 'year': 2007, 'state': 'New York'},
 {'rate': 80.8, 'year': 2007, 'state': 'North Carolina'},
 {'rate': 47.2, 'year': 2007, 'state': 'North Dakota'},
 {'rate': 71.9, 'year': 2007, 'state': 'Ohio'},
 {'rate': 100.6, 'year': 2007, 'state': 'Oklahoma'},
 {'rate': 62.0, 'year': 2007, 'state': 'Oregon'},
 {'rate': 51.0, 'year': 2007, 'state': 'Pennsylvania'},
 {'rate': 42.5, 'year': 2007, 'state': 'Rhode Island'},
 {'rate': 87.3, 'year': 2007, 'state': 'South Carolina'},
 {'rate': 72.6, 'year': 2007, 'state': 'South Dakota'},
 {'rate': 94.5, 'year': 2007, 'state': 'Tennessee'},
 {'rate': 103.1, 'year': 2007, 'state': 'Texas'},
 {'rate': 71.7, 'year': 2007, 'state': 'Total U.S.'},
 {'rate': 58.3, 'year': 2007, 'state': 'Utah'},
 {'rate': 37.2, 'year': 2007, 'state': 'Vermont'},
 {'rate': 60.4, 'year': 2007, 'state': 'Virginia'},
 {'rate': 59.9, 'year': 2007, 'state': 'Washington'},
 {'rate': 83.0, 'year': 2007, 'state': 'West Virginia'},
 {'rate': 54.6, 'year': 2007, 'state': 'Wisconsin'},
 {'rate': 91.3, 'year': 2007, 'state': 'Wyoming'},
 {'rate': 85.1, 'year': 2008, 'state': 'Nevada'},
 {'rate': 85.6, 'year': 2008, 'state': 'Alabama'},
 {'rate': 84.9, 'year': 2008, 'state': 'Alaska'},
 {'rate': 88.1, 'year': 2008, 'state': 'Arizona'},
 {'rate': 102.0, 'year': 2008, 'state': 'Arkansas'},
 {'rate': 64.2, 'year': 2008, 'state': 'California'},
 {'rate': 67.9, 'year': 2008, 'state': 'Colorado'},
 {'rate': 40.1, 'year': 2008, 'state': 'Connecticut'},
 {'rate': 61.8, 'year': 2008, 'state': 'Delaware'},
 {'rate': 56.3, 'year': 2008, 'state': 'District of Columbia'},
 {'rate': 68.1, 'year': 2008, 'state': 'Florida'},
 {'rate': 84.9, 'year': 2008, 'state': 'Georgia'},
 {'rate': 73.9, 'year': 2008, 'state': 'Hawaii'},
 {'rate': 68.7, 'year': 2008, 'state': 'Idaho'},
 {'rate': 65.8, 'year': 2008, 'state': 'Illinois'},
 {'rate': 71.2, 'year': 2008, 'state': 'Indiana'},
 {'rate': 56.4, 'year': 2008, 'state': 'Iowa'},
 {'rate': 76.5, 'year': 2008, 'state': 'Kansas'},
 {'rate': 93.3, 'year': 2008, 'state': 'Kentucky'},
 {'rate': 91.2, 'year': 2008, 'state': 'Louisiana'},
 {'rate': 47.5, 'year': 2008, 'state': 'Maine'},
 {'rate': 56.8, 'year': 2008, 'state': 'Maryland'},
 {'rate': 31.8, 'year': 2008, 'state': 'Massachusetts'},
 {'rate': 55.9, 'year': 2008, 'state': 'Michigan'},
 {'rate': 47.3, 'year': 2008, 'state': 'Minnesota'},
 {'rate': 105.1, 'year': 2008, 'state': 'Mississippi'},
 {'rate': 75.9, 'year': 2008, 'state': 'Missouri'},
 {'rate': 69.9, 'year': 2008, 'state': 'Montana'},
 {'rate': 61.6, 'year': 2008, 'state': 'Nebraska'},
 {'rate': 35.5, 'year': 2008, 'state': 'New Hampshire'},
 {'rate': 44.9, 'year': 2008, 'state': 'New Jersey'},
 {'rate': 99.6, 'year': 2008, 'state': 'New Mexico'},
 {'rate': 43.6, 'year': 2008, 'state': 'New York'},
 {'rate': 78.2, 'year': 2008, 'state': 'North Carolina'},
 {'rate': 45.4, 'year': 2008, 'state': 'North Dakota'},
 {'rate': 69.7, 'year': 2008, 'state': 'Ohio'},
 {'rate': 96.8, 'year': 2008, 'state': 'Oklahoma'},
 {'rate': 61.1, 'year': 2008, 'state': 'Oregon'},
 {'rate': 49.4, 'year': 2008, 'state': 'Pennsylvania'},
 {'rate': 39.2, 'year': 2008, 'state': 'Rhode Island'},
 {'rate': 83.4, 'year': 2008, 'state': 'South Carolina'},
 {'rate': 65.6, 'year': 2008, 'state': 'South Dakota'},
 {'rate': 90.1, 'year': 2008, 'state': 'Tennessee'},
 {'rate': 99.8, 'year': 2008, 'state': 'Texas'},
 {'rate': 68.2, 'year': 2008, 'state': 'Total U.S.'},
 {'rate': 56.5, 'year': 2008, 'state': 'Utah'},
 {'rate': 36.5, 'year': 2008, 'state': 'Vermont'},
 {'rate': 57.4, 'year': 2008, 'state': 'Virginia'},
 {'rate': 58.6, 'year': 2008, 'state': 'Washington'},
 {'rate': 80.4, 'year': 2008, 'state': 'West Virginia'},
 {'rate': 52.5, 'year': 2008, 'state': 'Wisconsin'},
 {'rate': 82.8, 'year': 2008, 'state': 'Wyoming'},
 {'rate': 79.8, 'year': 2009, 'state': 'Alabama'},
 {'rate': 82.2, 'year': 2009, 'state': 'Alaska'},
 {'rate': 79.7, 'year': 2009, 'state': 'Arizona'},
 {'rate': 97.5, 'year': 2009, 'state': 'Arkansas'},
 {'rate': 58.3, 'year': 2009, 'state': 'California'},
 {'rate': 63.4, 'year': 2009, 'state': 'Colorado'},
 {'rate': 37.9, 'year': 2009, 'state': 'Connecticut'},
 {'rate': 53.7, 'year': 2009, 'state': 'Delaware'},
 {'rate': 52.8, 'year': 2009, 'state': 'District of Columbia'},
 {'rate': 62.5, 'year': 2009, 'state': 'Florida'},
 {'rate': 80.8, 'year': 2009, 'state': 'Georgia'},
 {'rate': 67.6, 'year': 2009, 'state': 'Hawaii'},
 {'rate': 63.4, 'year': 2009, 'state': 'Idaho'},
 {'rate': 61.8, 'year': 2009, 'state': 'Illinois'},
 {'rate': 69.3, 'year': 2009, 'state': 'Indiana'},
 {'rate': 54.2, 'year': 2009, 'state': 'Iowa'},
 {'rate': 75.5, 'year': 2009, 'state': 'Kansas'},
 {'rate': 85.2, 'year': 2009, 'state': 'Kentucky'},
 {'rate': 85.9, 'year': 2009, 'state': 'Louisiana'},
 {'rate': 44.5, 'year': 2009, 'state': 'Maine'},
 {'rate': 53.0, 'year': 2009, 'state': 'Maryland'},
 {'rate': 30.9, 'year': 2009, 'state': 'Massachusetts'},
 {'rate': 55.0, 'year': 2009, 'state': 'Michigan'},
 {'rate': 43.5, 'year': 2009, 'state': 'Minnesota'},
 {'rate': 100.7, 'year': 2009, 'state': 'Mississippi'},
 {'rate': 70.4, 'year': 2009, 'state': 'Missouri'},
 {'rate': 66.9, 'year': 2009, 'state': 'Montana'},
 {'rate': 59.7, 'year': 2009, 'state': 'Nebraska'},
 {'rate': 76.2, 'year': 2009, 'state': 'Nevada'},
 {'rate': 29.8, 'year': 2009, 'state': 'New Hampshire'},
 {'rate': 41.0, 'year': 2009, 'state': 'New Jersey'},
 {'rate': 98.3, 'year': 2009, 'state': 'New Mexico'},
 {'rate': 41.0, 'year': 2009, 'state': 'New York'},
 {'rate': 72.6, 'year': 2009, 'state': 'North Carolina'},
 {'rate': 46.9, 'year': 2009, 'state': 'North Dakota'},
 {'rate': 66.4, 'year': 2009, 'state': 'Ohio'},
 {'rate': 96.0, 'year': 2009, 'state': 'Oklahoma'},
 {'rate': 55.8, 'year': 2009, 'state': 'Oregon'},
 {'rate': 46.4, 'year': 2009, 'state': 'Pennsylvania'},
 {'rate': 34.5, 'year': 2009, 'state': 'Rhode Island'},
 {'rate': 76.8, 'year': 2009, 'state': 'South Carolina'},
 {'rate': 67.8, 'year': 2009, 'state': 'South Dakota'},
 {'rate': 83.8, 'year': 2009, 'state': 'Tennessee'},
 {'rate': 95.5, 'year': 2009, 'state': 'Texas'},
 {'rate': 64.0, 'year': 2009, 'state': 'Total U.S.'},
 {'rate': 50.3, 'year': 2009, 'state': 'Utah'},
 {'rate': 30.5, 'year': 2009, 'state': 'Vermont'},
 {'rate': 52.9, 'year': 2009, 'state': 'Virginia'},
 {'rate': 54.2, 'year': 2009, 'state': 'Washington'},
 {'rate': 80.2, 'year': 2009, 'state': 'West Virginia'},
 {'rate': 51.8, 'year': 2009, 'state': 'Wisconsin'},
 {'rate': 76.9, 'year': 2009, 'state': 'Wyoming'},
 {'rate': 71.8, 'year': 2010, 'state': 'Alabama'},
 {'rate': 73.4, 'year': 2010, 'state': 'Alaska'},
 {'rate': 69.8, 'year': 2010, 'state': 'Arizona'},
 {'rate': 91.4, 'year': 2010, 'state': 'Arkansas'},
 {'rate': 53.4, 'year': 2010, 'state': 'California'},
 {'rate': 56.5, 'year': 2010, 'state': 'Colorado'},
 {'rate': 34.5, 'year': 2010, 'state': 'Connecticut'},
 {'rate': 48.9, 'year': 2010, 'state': 'Delaware'},
 {'rate': 52.0, 'year': 2010, 'state': 'District of Columbia'},
 {'rate': 55.2, 'year': 2010, 'state': 'Florida'},
 {'rate': 70.6, 'year': 2010, 'state': 'Georgia'},
 {'rate': 62.6, 'year': 2010, 'state': 'Hawaii'},
 {'rate': 58.9, 'year': 2010, 'state': 'Idaho'},
 {'rate': 56.9, 'year': 2010, 'state': 'Illinois'},
 {'rate': 63.5, 'year': 2010, 'state': 'Indiana'},

In [16]:
results = session.query(National.year, National.age_group, National.us_rate, 
                        National.state, National.state_rate).order_by(National.year.asc()).all()

df = pd.DataFrame(results, columns=['year', 'age', 'usrate', 'state', 'staterate'])
df

      year          age  usrate          state  staterate
0     2003  15-17 years    22.2        Alabama       28.5
1     2003  15-17 years    22.2         Alaska       19.8
2     2003  15-17 years    22.2        Arizona       36.2
3     2003  15-17 years    22.2       Arkansas       30.4
4     2003  15-17 years    22.2     California       21.5
...    ...          ...     ...            ...        ...
2491  2018  18-19 years    32.3       Virginia       26.2
2492  2018  18-19 years    32.3     Washington       25.0
2493  2018  18-19 years    32.3  West Virginia       50.4
2494  2018  18-19 years    32.3      Wisconsin       24.4
2495  2018  18-19 years    32.3        Wyoming       43.6

[2496 rows x 5 columns]

In [83]:
# Organize df to return overall US data and state-specifc by year, filter to return 15-19 year data 
linedf = df.loc[df["age"] == '15-19 years']
#subsetdf = subsetdf.drop_duplicates()
linedf

      year          age  usrate          state  staterate
52    2003  15-19 years    41.1        Alabama       51.4
53    2003  15-19 years    41.1         Alaska       41.2
54    2003  15-19 years    41.1        Arizona       61.9
55    2003  15-19 years    41.1       Arkansas       59.3
56    2003  15-19 years    41.1     California       40.1
...    ...          ...     ...            ...        ...
2439  2018  15-19 years    17.4       Virginia       14.3
2440  2018  15-19 years    17.4     Washington       12.7
2441  2018  15-19 years    17.4  West Virginia       25.4
2442  2018  15-19 years    17.4      Wisconsin       13.0
2443  2018  15-19 years    17.4        Wyoming       20.8

[832 rows x 5 columns]

In [97]:
USdatadf = linedf[['usrate', 'year']].drop_duplicates()
USdatadf.reset_index(drop=True, inplace=True)
USdatadf.rename(columns={"usrate": "rate"}, inplace=True)
USData = USdatadf.to_json(orient="records")

In [98]:
stateDatadf = linedf[['staterate', 'state', 'year']].drop_duplicates()
stateDatadf.reset_index(drop=True, inplace=True)
stateDatadf.rename(columns={'staterate': 'rate'}, inplace=True)
stateData = stateDatadf.to_json(orient="records")

In [102]:
# Query for US birth rate and year, filtering for 15-17 and 18-19 year data
df

      year          age  usrate          state  staterate
0     2003  15-17 years    22.2        Alabama       28.5
1     2003  15-17 years    22.2         Alaska       19.8
2     2003  15-17 years    22.2        Arizona       36.2
3     2003  15-17 years    22.2       Arkansas       30.4
4     2003  15-17 years    22.2     California       21.5
...    ...          ...     ...            ...        ...
2491  2018  18-19 years    32.3       Virginia       26.2
2492  2018  18-19 years    32.3     Washington       25.0
2493  2018  18-19 years    32.3  West Virginia       50.4
2494  2018  18-19 years    32.3      Wisconsin       24.4
2495  2018  18-19 years    32.3        Wyoming       43.6

[2496 rows x 5 columns]

In [126]:
df1517 = df.loc[df["age"] == '15-17 years', ['staterate', 'year', 'state']].drop_duplicates()
df1819 = df.loc[df["age"] == '18-19 years', ['staterate', 'year', 'state']].drop_duplicates()
df1517us = df.loc[df["age"] == '15-17 years', ['usrate', 'year']].drop_duplicates()
df1819us = df.loc[df["age"] == '18-19 years', ['usrate', 'year']].drop_duplicates()

In [127]:
df1517.reset_index(drop=True, inplace=True)
df1517.rename(columns={'staterate': 'rate'}, inplace=True)
birthRate1517 = df1517.to_json(orient="records")

In [128]:
df1819.reset_index(drop=True, inplace=True)
df1819.rename(columns={'staterate': 'rate'}, inplace=True)
birthRate1819 = df1819.to_json(orient="records")

In [131]:
df1517us.reset_index(drop=True, inplace=True)
df1517us.rename(columns={'usrate': 'rate'}, inplace=True)
USBirthRate1517 = df1517us.to_json(orient="records")

df1819us.reset_index(drop=True, inplace=True)
df1819us.rename(columns={'usrate': 'rate'}, inplace=True)
USBirthRate1819 = df1819us.to_json(orient="records")

In [133]:
USBirthRate1517

'[{"rate":22.2,"year":2003},{"rate":21.8,"year":2004},{"rate":21.1,"year":2005},{"rate":21.6,"year":2006},{"rate":21.7,"year":2007},{"rate":21.1,"year":2008},{"rate":19.6,"year":2009},{"rate":17.3,"year":2010},{"rate":15.4,"year":2011},{"rate":14.1,"year":2012},{"rate":12.3,"year":2013},{"rate":10.9,"year":2014},{"rate":9.9,"year":2015},{"rate":8.8,"year":2016},{"rate":7.9,"year":2017},{"rate":7.2,"year":2018}]'